---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navbar from "../components/Navbar.astro";
import { client, imageBuilder } from "../lib/sanity-client";
import PortableText from "../components/PortableText.astro";

const query =
  `*[_type == "page" && title == "Index"]{
    title,
    body[]{
      heading,
      description,
      backgroundImage,
      ctas[]{
        externalLink,
        reference->{
          _type,
          slug
        },
        url,
        text,
      }
    }
  }[0]
  `;
let data = await client.fetch(query);
---

<BaseLayout pageTitle={data?.title}>
  <Navbar />
  <main>
    {data.body?.map((section: any, index: number) => 
      <section class="relative w-full min-h-[75vh] h-full flex flex-col items-start justify-center" style={{
        backgroundImage: `url(${imageBuilder.image(section.backgroundImage).url()})`,
        backgroundAttachment: 'fixed',
        backgroundPosition: 'center',
        backgroundRepeat: 'no-repeat',
        backgroundSize: 'cover',
      }}>
        <div class="max-w-[1600px] h-full w-full xl:w-1/2 px-4 md:px-16 flex flex-col items-start justify-center">
          <h1 class="text-5xl font-black mix-blend-plus-lighter tracking-wider">{section.heading}</h1>
          <div class="mix-blend-plus-lighter">
            <PortableText value={section.description} />
          </div>
          {section.ctas && (
            <div class="flex flex-row gap-2">
              {section.ctas.map((cta: any) => (
                <div class="mix-blend-plus-lighter">
                  {cta.externalLink && <a class="text-2xl font-black underline tracking-wider hover:text-web3-pink" href={cta.url} target="_blank" rel="noreferrer">{cta.text}</a>}
                  {!cta.externalLink && <a class="text-2xl font-black underline tracking-wider hover:text-web3-pink" href={cta.reference._type === 'page' ? `/${cta.reference.slug.current}` : ''}>{cta.text}</a>}
                </div>
              ))}
            </div>
          )}
          
        </div>
        {index != (data.body?.length - 1) && (
          <div class="absolute bottom-0 right-[50%]">
            <i class="text-3xl h-10 w-10 fa-solid fa-circle-arrow-down"></i>
          </div>
        )}
      </section>
    )}
  </main>
</BaseLayout>
